
#hk-buy-logo {
  width: 300px;
  height: 140px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}


.buy-drawer {
  position: absolute;
  top: 110px;
  right: 15%;
  background-color: rgba(0,0,0,0.8);
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 380px;
}

.buy-divider {
  width: 80%;
  margin: auto;
  border-bottom: 1px solid gray;
  margin-bottom: 16px;
}

.buy-text {
  font-size: 1.5em;
  font-weight: 700;
}

.albums {
  width: 100%;
  height: 200px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#bandcamp {
  width: 160px;
  height: 30px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}

#bandcamp:hover {
  border-bottom: 1px solid white;
  transition: border 200ms;
}

.soundtrack-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.soundtrack-cta-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.soundtrack-cta-title {
  font-size: 1.5em;
  font-weight: 700;
  padding: 20px 0;
}

.floating-transparent-box-soundtrack {
  padding: 30px;
  background-color: rgba(0,0,0,0.8);
  color: white;
  width: 540px;
  margin-left: 8%;
}

@media only screen and (max-width: 900px) {
  #hk-buy-logo {
    width: 100%;
  }

  .buy-drawer {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 80%;
  }
  .floating-transparent-box-soundtrack {
    width: 80%;
    margin-left: 0;
  }
}

