
a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: inherit;
}

.hk-transparent-button {
  padding: 10px 20px;
  border-radius: 100px;
  font-weight: 700;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}

.hk-transparent-button:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  border: 1px solid white;
  transition: background-color 300ms linear;
  text-decoration: none;
}

.full-background-image {
  height: 100vh;
  max-height: 800px;
  min-height: 680px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-container { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.floating-transparent-box {
  padding: 30px;
  background-color: rgba(0,0,0,0.8);
  color: white;
  width: 540px;
  margin: 8%;
}

.ftb-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.ftb-container-reversed {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}


.ftb-title {
  font-weight: 700;
  padding-bottom: 1em;
}

.ftb-description {
  font-weight: 300;
  padding-bottom: 0.75em;
}

.accolades-container {
  color: white;
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  max-height: 800px;
  min-height: 640px;
}

.accolade {
  max-width: 320px;
  text-align: center;
  font-weight: 700;
}

.accolades-title {
  font-size: 1.25em;
}

.bordered-section-title-bar {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.section-title-bar {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.section-title {
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
}

.expansion-section {
  height: 100vh;
  max-height: 800px;
  min-height: 640px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.expansion-image {
  width: 25%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.expansion-text-container {
  padding: 30px;
  background-color: rgba(0,0,0,0.65);
  color: white;
  width: 100%;
  height: 260px;
  text-align: center;
}

.expansion-title {
  font-weight: 700;
  font-size: 1.25em;
}

.expansion-description {
  margin-bottom: 10px;
}

li {
  margin: 0;
}

#team-cherry-logo {
  height: 80px;
  width: 100px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#hollow-knight-logo {
  height: 240px;
  width: 600px;
  min-width: 300px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1070px) {
  .expansion-section {
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: initial;
    min-height: initial;
  }

  .expansion-image {
    width: 100%;
    height: 320px;
    background-position: right;
    background-size: 50%;
    background-repeat: no-repeat;
    background-color: black;
    align-items: flex-start;
  }
  .expansion-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-width: 440px;
    min-width: 200px;
    margin: 20px 0;
  }

  #hidden-dreams {
    background-position-y: bottom;
  }

  #the-grimm-troupe {
    background-position-y: center;
  }

  #lifeblood {
    background-position-y: 25%;
  }

  #godmaster {
    background-position-y: 20%;
  }

}

@media only screen and (max-width: 900px) {
  .floating-transparent-box {
    margin: 0;
    width: 80%;
  }

  .ftb-container, .ftb-container-reversed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-height: 800px;
    min-height: 680px;
  }

  .accolades-container {
    width: 80%;
  }
}

@media only screen and (max-width: 760px) {
  #hollow-knight-logo {
    height: 150px;
    width: 360px;
  }
}

@media only screen and (max-width: 760px) {
  #hollow-knight-logo {
    height: 120px;
    width: 280px;
  }
}

